<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit (itemAdded)="shoppingList.addIngredient($event)">
      <h1 #heading>Add a item</h1>
    </app-shopping-edit>
    <hr />
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        [ngStyle]="{'background-color': 'transparent'}"
        *ngFor="let ingredient of ingredients; let index = index"
      >
        {{ ingredient.name }} ({{ ingredient.amount }})
        <span (click)="shoppingList.removeItem(index)">X</span>
      </a>
    </ul>
  </div>
</div>
